*{
    padding: 0;
    margin: 0;
}
header {
    background-color: cadetblue;
    height:80px;
    width:100%;
}
h1{
    color:antiquewhite;
    position:absolute;
    line-height:80px;
    left: 50px;
}
header a {
    color:antiquewhite;
    text-decoration: none;
}
header a:hover {
    text-decoration: underline;
}
header li {
    display: inline;
    margin-right:8vw;
}
header ul {
    position:absolute;
    right:5vw;
    top:0;
    line-height:80px;
}
h2{
    color:rgb(171, 207, 86);
}
.news {
    background-color:lightgreen;
    height:90vh;
    background-image:url("images/Garden.png");
    background-size: cover;
    background-position: center;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    background-repeat: no-repeat;
    opacity: 0.7;
}
.news h2{
    font-size:60px
}
.news p{
    margin:25px;
}
.news a{
    text-decoration: none;
    border:1px solid;
    padding:10px 20px;
    border-radius:5px;
}
/*缩小时的效果*/
@media screen and (max-width:768px){
    header ul {
        display:none;
    }
    header h1{
        left:50%;
        transform:translateX(-50%);
    }
}